.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper{
  background-color: rgb(19, 151, 70);
}

h1{
  color: red;
  text-shadow: -2px 0 yellow, 0 2px yellow, 
  2px 0 yellow, 0 -2px yellow;
}

html{
  background-color: rgb(53, 99, 173);
  text-align: center;
}

.title{
  background-color: rgb(114, 114, 114);
  text-align: center;
  border-left: none;
  border-right: none;
}

#lost-msg{
  margin-top: 0;
  display: none;
}